#modalWindow{
    border: 2px solid #bb5cc4;
    border-radius: 5px;
    padding: 5px;
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: #f5e6f7;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#modalBackground{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(1.5px);   
}

.topBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: 2px solid #bb5cc4;
}

.modalCross{
    border: 2px solid rgb(142, 91, 146);
    padding: 5px;
    width: min(2vh, 1vw);
    cursor: pointer;
}

form > div{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: 5% 0;
}

.bottomBlock{
    border-top: 2px solid #bb5cc4;
    padding: 2.5% 0;
    display: flex;
    justify-content: right;
}

.bottomBlock > *{
    margin-right: 3%;
}

.invalid-input{
    border: 2px solid red;
}