*{
    font-family: Inconsolata;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #9f8fac;
    height: 2.5rem;
    align-items: center;   
    width: 100%; 
}

header > *{
    margin-left: 20px;
    margin-right: 20px;
}

header > a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #391f43;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic;
}

.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    height: 2.5rem; 
}

.userInfo > p, .userInfo > .roundIcon{
    font-size: smaller;
}

.userInfo > p:hover{
    background-color: #5f5965;
}

.fa-bell{
    margin-right: 20px;
    scale: 1.8;
    width: min(2vh, 1vw);
    max-width: 0.8vw;
    /* transition: transform 0.3s ease-in-out; */
}

.fa-bell:hover{
    animation: rotateAnimation 0.4s ease-in-out;
}

#notificationsBox{
    display: none;
    flex-direction: column;
    cursor: default;
    position: absolute;
    background-color: white;
    border: 2px solid rgb(176, 3, 206);
    border-radius: 2px;
    top: 25px;
    right: 1%;
    width: 20%;
    height: auto;
    z-index: 1;
}

#notificationsBox > div{
    display: flex;
    align-items: center;
    margin: 10px;
}

.messageInfo > i, .messageInfo > img{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 5px;
}

.message{
    background-color: rgb(218, 191, 213);
    width: 100%;
    height: 2rem;
    border-radius: 6px;
}

.displayNotifBox{
    display: flex !important;
}

.messageInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 0.8;
    width: 60px;
    font-size: smaller;
}

.messageInfo > p{
    margin: 0;
    text-align: center;
}

.fa-user{
    width: min(2vh, 1vw);
}

#userBox{
    display: none;
    flex-direction: column;
    margin: 2px;
    position: absolute;
    background-color: white;
    border: 2px solid rgb(176, 3, 206);
    border-radius: 2px;
    top: 25px;
    right: 1%;
    padding: 1% 3%;
    height: auto;
    z-index: 1;
    cursor: default;
}

#userBox > a{
    font-style: normal;
    color: #391f43;
    text-decoration: none;
    margin: 6% 0;
    border-bottom: 2px solid transparent;
}

#userBox > a:hover{
    border-color: black;
}

.displayUserBox{
    display: flex !important;
}

.display-red-circle::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    background-color: red;
    border-radius: 50%;
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(-10deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }

.roundIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}

.userInfo > *{
    cursor: pointer;
}

main{
    display: flex;
    margin-top: 30px;
}

nav{
    width: 20vw;
}

.sectionsList{
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.sectionsList > li > a{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    line-height: 1.5;
    display: inline-block;
}

.sectionChosen, .sectionsList > li > a:hover{
    border-bottom-color: #000 !important;
}

main > div{
    width: 80vw;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.tableWrapper{
    overflow-x: auto;
}

table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td{
    border: 2px solid black;
    text-align: center;
    height: 2rem;
}

table:nth-child(2n){
    background-color: #cdb8df;
}

.addStudentButton{
    cursor: pointer;
    border: 2px solid #000;
    width: max-content;
    height: max-content;
    padding: 3px;
    margin-left: auto;
    margin-bottom: 10px;
}

.fa-plus{
    width: min(2vh, 1vw);
    scale: 1.2;
}

.userOptions{
    display: flex;
    justify-content: space-evenly;
}

.userOptions > *{
    cursor: pointer;
}

.fa-xmark{
    transform: scale(1.4);
    width: min(2vh, 2vw);
}

.fa-pen{
    width: min(2vh, 2vw);
}

@media (max-width: 475px){
.sectionsList > li > a{
    font-size: 12px;
}

}

@media (max-width: 769px){
#modalWindow > form > div{
    display: flex;
    flex-direction: column;
}
}