.userImage{
    width: 20px;
}

.container, .container > *{
    margin-top: 1%;
}

#error-messages, #error-messages > *{
    color: rgb(181, 0, 0);
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
